* {
  font-family: 'cascadia code', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  transition: all 0.25s;
  background-color: #bb1f3c;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: #ef2a4f;
}

.pressed {
  background-color: #8f0f32;
}

.sketch-area {
  /*border-radius: 5px;*/
  box-shadow: 0px 2px 15px 0px grey;
  /*border: 1px solid black;*/
  width: 550px;
  height: 550px;
  display: flex;
}

.sketch-area div {
  /*border: 1px solid blue;*/
  display: flex;
  flex: auto;
  flex-direction: column;
}

.control-panel {
  margin: 50px;
  padding: 20px;
  width: 200px;
  height: 500px;
  background-color: lightgrey;
  border-radius: 5px;
  box-shadow: 0px 2px 15px 0px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slider {
  display: flex;
  flex-wrap: wrap;
}

#range-value {
  background-color: #bb1f3c;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 15px;
  display: inline-block;
}

#canvas-size {
  accent-color: #bb1f3c;
}

#colorpicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#colorpicker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
  box-shadow: 0px 2px 15px 0px grey;
}
