body {
  justify-content: center;
  height: 100vh;
  display: flex;
}

.sketch-area {
  border-radius: 5px;
  box-shadow: 0px 2px 15px 0px black;
  align-self: center;
  /*border: 1px solid black;*/
  width: 550px;
  height: 550px;
  display: flex;
}

.sketch-area div {
  /*border: 1px solid blue;*/
  display: flex;
  flex: auto;
  flex-direction: column;
}

/*.pixel:hover {*/
  /*background-color: black;*/
/*}*/

.clicked {
  background-color: black;
}
